extends main

block content
    main
        div(class="highscore")
            div(class="top-10-all-time")
                h1 Top 10 of All-time
                table(class="highscore-list")
                    tr(class="highscore-list-header")
                        th Place
                        th Player
                        th Word length
                        th No. of guesses
                        th Time
                    each highscore, index in highscores
                        tr
                            td #{index+1}
                            td #{highscore.name}
                            td #{highscore.wordLength}
                            td #{highscore.guesses}
                            td #{highscore.time}
                        